.navbar{
    background-color: #FFFFFF;
}

.nav_icon {
    height:3rem;
    width:4rem ;
    position: relative;
    bottom: ;
    
}
.search_icon {
    height:13px;
    width:13px ;
    padding-right: 10px;
}
.search_bar {
    
    display: inline-block;
    position: relative;
    
    margin: 10px 240px 10px 10px;
    padding: 10px 70px 10px 10px;
    
    background-color: #EEF3F8;
    border-radius: 7px;
}
.search_bar input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family:'Trebuchet MS', ;
    font-size: medium;
}
body {
    background-color: #F3F2EF;
}
.nav_items {
    display: inline-block;
    position: relative;
    bottom:3px;
    padding:10;
}
.nav_items img{
    
    margin:2px;
    padding-left: 10px;
    padding-right:10px
}
img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
main{
    
        position: relative;
        margin-top: 30px;
        justify-content:center;
      
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-round{
    border-radius: 20px;
  }